.carousel-item img {
    height: 500px;
    object-fit: cover;
    filter: brightness(50%);
}

.carousel-caption {
    text-shadow: 1px 1px;
}

#hero-text {
    position: absolute;
    width: 100%;
    top: 15%;
    z-index: 1;
    color: white;
}

#hero-text h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 3px 5px #5f1df8;
}

#hero-text p {
    font-size: 2rem;
}

footer {
    color: white;
}